body{

	background-color: #f6f0ef; 
}

#cuerpo{ background-image: url(../images/12.jpg);
width: auto;
	height: auto;}

#img1{
	width: 100%;
	height:450px;
}
#formulario{
	float:center;
	padding: 100px;
	margin-left: 400px;
	width: 500px;

}

#formulpro{
	float: center;
	padding: 100px;
	margin:0;
	margin-left: 400px;
	width: 500px;
	height: auto;
	margin-bottom: 100px;


 background-color: #F5F5F5;
}
